doctype html
html lang="en" 
  head
    meta charset="utf-8" /
    meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" /
    link href="assets/css/bootstrap.css" rel="stylesheet" /
    link href="assets/stylesheets/fonts.css" rel="stylesheet" /
    link href="assets/stylesheets/style.css" rel="stylesheet" /
    link href="assets/css/docs.theme.min.css" rel="stylesheet" /
    link href="assets/css/owl.carousel.min.css" rel="stylesheet" /
    link href="assets/css/owl.theme.default.min.css" rel="stylesheet" /
    link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" rel="stylesheet" /
    link href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css" rel="stylesheet" /
    link href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css" rel="stylesheet" /
    link href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css" rel="stylesheet" /
  body
    header
      nav.navbar.navbar-expand-lg.navbar-light.bg-grey-light
        .container
          a.navbar-brand
            img src="assets/images/hero-img/Logo.png" /
          button.navbar-toggler aria-controls="navbarSupportedContent" aria-expanded="false" aria-label=("Toggle navigation") data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button" 
            span.navbar-toggler-icon
          #navbarSupportedContent.collapse.navbar-collapse
            ul.col-2
            a.nav-link href="#"  HOME
            a.nav-link href="#"  PRODUCT
            a.nav-link href="#"  CONTACT
            a.nav-link href="#"  ORDER
            a.nav-link href="#"  ABOUT
            ul.list-nav-right.col-4
              li
                a href="#" 
                  img src="assets/images/hero-img/Search.png"
              li 
                a href="#" 
                  img src="assets/images/hero-img/Shop.png" 
              li  
                a href="#" 
                  img src="assets/images/hero-img/Ava.png" 
      nav
    content
      .hero-images
        .container-fluid
          .row
            .offset-md-1.col-12.col-md-6
              h1
                | Men New
                br>/
                | Arrivals
              p
                | I always thought what you wore underneath was as
                | important as what you wear on top. Age and size are
                | only numbers.
              .btn.btn-black
                a href="#"  SHOP NOW
            .col-5
              .owl-carousel.owl-theme
                .item
                  a
                    img src="assets/images/hero-img/main-1.png" /
                .item
                  a
                    img src="assets/images/hero-img/main-2.png" /
                .item
                  a
                    img src="assets/images/hero-img/main-3.png" /
      .promo-img
        p HAVE TODAY
        h1 SANDANG ‘14
        h2
          | I always thought what you wore underneath
          br/
          | as what you wear on top.
      .promo
        h3
          | Promo
        .container-fluid
          .menu-promo
            .promo-1
              a href="#" 
                img src="assets/images/hero-img/promo-1.png" /
              h4
                | Style-aware fashion jacket
              p
                s $100.00
              h4 $70.00
            .promo-2
              a href="#" 
                img src="assets/images/hero-img/promo-2.png" /
              h4
                | Style-aware fashion jacket
              p
                s $100.00
              h4 $75.00
            .promo-3
              a href="#" 
                img src="assets/images/hero-img/promo-3.png" /
              h4
                | Style-aware fashion t-shirt
              p
                s $100.00
              h4 $60.00
            .promo-4
              a href="#" 
                img src="assets/images/hero-img/promo-4.png" /
              h4
                | Style-aware fashion t-shirt
              p
                s $100.00
              h4 $80.00
      .list-product
        h3
          | List Product
        .container-fluid
          .menu-product
            .product-1
              a href="#" 
                img src="assets/images/hero-img/product-1.png" /
              h4
                | Style-aware fashion jacket
              h4 $110.00
            .product-2
              a href="#" 
                img src="assets/images/hero-img/product-2.png" /
              h4
                | Style-aware fashion jacket
              h4 $130.00
            .product-3
              a href="#" 
                img src="assets/images/hero-img/product-3.png" /
              h4
                | Style-aware fashion jacket
              h4 $125.00
            .product-4
              a href="#" 
                img src="assets/images/hero-img/product-4.png" /
              h4
                | Style-aware fashion jacket
              h4 $125.00
            .product-5
              a href="#" 
                img src="assets/images/hero-img/product-5.png" /
              h4
                | Style-aware fashion shirt
              h4 $100.00
            .product-6
              a href="#" 
                img src="assets/images/hero-img/product-6.png" /
              h4
                | Style-aware fashion jacket
              h4 $125.00
            .product-7
              a href="#" 
                img src="assets/images/hero-img/product-7.png" /
              h4
                | Style-aware fashion t-shirt
              h4 $70.00
            .product-8
              a href="#" 
                img src="assets/images/hero-img/product-8.png" /
              h4
                | Style-aware fashion denim
              h4 $90.00
      .gallery
        h3
          | Gallery
        .container.gallery-container
          .tz-gallery
            .row
              .col-sm-6.col-md-3
                a.lightbox href="assets/images/hero-img/gallery-1.png" 
                  img alt="Park" src="assets/images/hero-img/gallery-1.png" /
              .col-sm-6.col-md-3
                a.lightbox href="assets/images/hero-img/gallery-2.png" 
                  img alt="Bridge" src="assets/images/hero-img/gallery-2.png" /
              .col-sm-12.col-md-3
                a.lightbox href="assets/images/hero-img/gallery-3.png" 
                  img alt="Tunnel" src="assets/images/hero-img/gallery-3.png" /
              .col-sm-6.col-md-3
                a.lightbox href="assets/images/hero-img/gallery-4.png" 
                  img alt="Coast" src="assets/images/hero-img/gallery-4.png" /
              .col-sm-6.col-md-3
                a.lightbox href="assets/images/hero-img/gallery-5.png" 
                  img alt="Rails" src="assets/images/hero-img/gallery-5.png" /
              .col-sm-6.col-md-3
                a.lightbox href="assets/images/hero-img/gallery-6.png" 
                  img alt="Traffic" src="assets/images/hero-img/gallery-6.png" /
              .col-sm-6.col-md-3
                a.lightbox href="assets/images/hero-img/gallery-7.png" 
                  img alt="Rocks" src="assets/images/hero-img/gallery-7.png" /
              .col-sm-6.col-md-3
                a.lightbox href="assets/images/hero-img/gallery-8.png" 
                  img alt="Benches" src="assets/images/hero-img/gallery-8.png" /
      .gallery
        h3
          | Blog
        .container-fluid
          .row
            .offset-md-2.col-sm-6
              img src="assets/images/hero-img/Blog.png" /
            .col
              .text-promo
                h4 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                a.btn.btn-pink href="#"  View Blog
      .gallery
        h3
          | Testimony
        .container
          .row
            .col-md-12
              #testimonial-slider.owl-carousel
                .testimonial
                  .pic
                    img alt="" src="assets/images/hero-img/testi-1.png" /
                  h3.title Lorem ipsum dolor
                  p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non ante porttitor.
                  .testimonial-content
                    .testimonial-profile
                      h3.name Wade Warren
                      span.post Photographer
                    ul.rating
                      li.fa.fa-star
                      li.fa.fa-star
                      li.fa.fa-star
                      li.fa.fa-star
                      li.fa.fa-star-half-empty
                .testimonial
                  .pic
                    img alt="" src="assets/images/hero-img/testi-2.png" /
                  h3.title Lorem ipsum dolor
                  p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non ante porttitor.
                  .testimonial-content
                    .testimonial-profile
                      h3.name Jenny Wilson
                      span.post Designer
                    ul.rating
                      li.fa.fa-star
                      li.fa.fa-star
                      li.fa.fa-star
                      li.fa.fa-star
                      li.fa.fa-star-half-empty
                .testimonial
                  .pic
                    img alt="" src="assets/images/hero-img/testi-3.png" /
                  h3.title Lorem ipsum dolor
                  p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non ante porttitor.
                  .testimonial-content
                    .testimonial-profile
                      h3.name Esther Howard
                      span.post Videographer
                    ul.rating
                      li.fa.fa-star
                      li.fa.fa-star
                      li.fa.fa-star
                      li.fa.fa-star
                      li.fa.fa-star-half-empty
                .testimonial
                  .pic
                    img alt="" src="assets/images/hero-img/testi-4.png" /
                  h3.title Lorem ipsum dolor
                  p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non ante porttitor.
                  .testimonial-content
                    .testimonial-profile
                      h3.name Albert Flores
                      span.post Wedding Organizer
                    ul.rating
                      li.fa.fa-star
                      li.fa.fa-star
                      li.fa.fa-star
                      li.fa.fa-star
                      li.fa.fa-star-half-empty
      .gallery
        h3
          | How To Order?
        br/
        br/
        div align="center" 
          .row
            .col
              .item
                figure align="center" 
                  img src="assets/images/hero-img/how-1.png" /
                  figcaption align="center" 
                    h5 Select Item
            .col
              .item
                figure align="center" 
                  img src="assets/images/hero-img/how-2.png" /
                  figcaption align="center" 
                    h5 Checkout
            .col
              .item
                figure align="center" 
                  img src="assets/images/hero-img/how-3.png" /
                  figcaption align="center" 
                    h5 Delivery
        br/
        br/
    footer
      /! Grid container
      .container.p-4
        /! Grid row
        .row
          /! Grid column
          .col-lg-6.col-md-12.mb-4.mb-md-0
            img src="assets/images/hero-img/logo-2.png" /
            br/
            br/
            p
              | Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
              | molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
              | voluptatem veniam, est atque cumque eum delectus sint!
          /! Grid column
          /! Grid column
          .col-lg-3.col-md-6.mb-4.mb-md-0
            h5.text-uppercase List Menu
            ul.list-unstyled.mb-0
              li
                a.text-light href="#!"  Best Look
              li
                a.text-light href="#!"  Promo
              li
                a.text-light href="#!"  List Product
              li
                a.text-light href="#!"  Testimony
              li
                a.text-light href="#!"  How To Order
          /! Grid column
          /! Grid column
          .col-lg-3.col-md-6.mb-4.mb-md-0
            h5.text-uppercase.mb-0 Help
            ul.list-unstyled
              li
                a.text-light href="#!"  Term Of Use
              li
                a.text-light href="#!"  Privacy Policy
              li
                a.text-light href="#!"  FAQ
          /! Grid column
        /! Grid row
      /! Grid container

    script src="assets/javascripts/jquery-3.5.1.min.js"
    script src="assets/javascripts/popper.min.js"
    script src="assets/javascripts/bootstrap.js"
    script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
    script src="assets/javascripts/jquery.min.js"
    script src="assets/javascripts/owl.carousel.js"
    script src="assets/javascripts/custom.js" 
    script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"